.main-background
{
    background-image: url('../image/bg2.jpg');
}

.main-content
{
    padding: 40px;
}

.center-content
{
    margin: 0 auto;
    text-align: center;
}

.transparent-all
{
    background-color: transparent;
}

.full-rounded-form {
    border-radius: 30px;
    border: 1px solid #A73340;
}

.half-rounded-form {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #A73340;
}

.rounded-form
{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.rounded-header {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    opacity: 1;
    background-color: #A73340 !important;
    border: #75242d;
}

.transparent-content {
    background: rgba(0, 0, 0, 0.3);
}

.white-header
{
    color: white;
}

.button-red {
    background-color: #A73340 !important;
    border: #75242d !important;
}

.notification-paragraph
{
    color: orange;
}

.table-border tr td{
    border: 1px solid #75242d !important;
}

.table-border tr th{
    border: 1px solid #75242d !important;
}

.table-header th
{
    background-color: #A73340 !important;
    color: white;
    text-align: center;
}

.full-border {
    border: 1px solid #75242d;
}

.remove-padding
{
    padding-top: 0px;
    padding-bottom: 0px;
}

.normal-header {
    opacity: 1;
    background-color: #A73340 !important;
    /*border: 1px solid #75242d ;*/
}

.normal-padding-header
{
    padding: 0.5px !important;
    color: white !important;
}

.remove-border
{
    border: none;
}

.normal-border
{
    border: 1px solid #A73340;
}

.transparent-background
{
    background-color: transparent;
}

.black-background {
    background-color: rgba(0, 0, 0, 0.3);
    color: white !important;
}

.table-background {
    background-color: rgba(0, 0, 0, 0.3);
    color: white !important;
}

.fix-input-margin
{
    margin: 5px !important;
}

.button-small
{
    font-size: unset !important;
    width: 100px !important;
    height: 30px !important;
}