@model IEnumerable<LoaiVeSo>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Ma</td>
        <td>@item.Tinh</td>
        <td>@item.TinhTrang</td>
        <td>
            <button type="button" class="btn btn-info">Edit</button>
        </td>
    </tr>
}